---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Custom Tech">
  <section class="pt-11 max-w-4xl m-auto pb-24">
    <div
      class="px-4 py-2 h-12 flex items-center font-semibold border-b border-neutral-400"
    >
      <h2>About</h2>
    </div>

    <article class="text-base px-4">
      <h2 class="text-3xl font-semibold py-9 text-center">
        Custom Tech Proposal
      </h2>

      <span class="w-full -neutral-400 block mb-12 border-b border-neutral-400"
      ></span>

      <div class="flex flex-col gap-4">
        <p>
          Welcome to Custom Tech, your ultimate destination for personalized
          peripherals. At Custom Tech, we believe that your devices should not
          only reflect your unique style but also enhance your overall computing
          experience.
        </p>
        <p>
          With a passion for customization and a commitment to quality, we
          specialize in crafting bespoke keyboards, mice, computers, and more.
          Our team of skilled artisans and technicians work tirelessly to bring
          your creative visions to life, ensuring that every product is a true
          reflection of your personality and preferences.
        </p>
        <p>
          Whether you're a gamer looking to add a personal touch to your gaming
          setup, a professional seeking a sleek and customized workstation, or
          simply someone who appreciates the beauty of personalized tech, Custom
          Tech is here to cater to all your needs.
        </p>
      </div>

      <h3 class="text-xl font-semibold mt-8 mb-2">Why choose us?</h3>

      <ul class="flex flex-col gap-1">
        <li>
            <span class="text-xs">
                ■
            </span>
            Unparalleled Customization: From choosing colors and patterns to
          engraving special messages, the level of customization we offer is
          unmatched. Your imagination is the only limit.
        </li>
        <li>
            <span class="text-xs">■</span> Quality Craftsmanship: We take pride in our meticulous attention to
          detail and use only the finest materials to ensure that each product
          meets our high standards of quality.
        </li>
        <li>
            <span class="text-xs">■</span> Exceptional Customer Service: Your satisfaction is our top
          priority. Our friendly and knowledgeable team is always here to assist
          you every step of the way, from initial design concepts to final
          delivery.
        </li>
        <li>
            <span class="text-xs">■</span> Fast Turnaround Times: We understand that time is of the essence,
          which is why we strive to deliver your customized products in a timely
          manner without compromising on quality.
        </li>
      </ul>

      <div class="flex flex-col gap-4 mt-4">
        <p>
          At Custom Tech, we're not just selling peripherals; we're offering a
          way for you to express yourself and make your mark in the digital
          world. Join us in revolutionizing the way you interact with
          technology. Let's create something truly unique together.
        </p>
        <p>
          Get in touch with us today and let's start personalizing your tech
          journey!
        </p>
      </div>
    </article>
  </section>
</Layout>
