---
import Layout from "../layouts/Layout.astro";
import ContactContent from "../components/ContactContent.md";
---

<Layout title="Contact Custom Tech">
  <section class="max-w-4xl m-auto px-4 pb-24">
    <h2
      class="lg:my-20 my-14 pt-11 text-4xl font-semibold text-center lg:text-6xl"
    >
      Contacting Custom Tech
    </h2>

    <h3 class="text-3xl font-semibold lg:text-4xl">
      Create your settup with your style
    </h3>

    <section class="text-base">
      <h3 class="text-xl lg:text-3xl font-semibold mb-2 mt-8">
        Custom Tech Store
      </h3>
      <p>
        Thank you for your interest in contacting Custom Tech. We're here to
        assist you in any way we can. Please feel free to reach out to us using
        any of the methods below:
      </p>

      <div>
        <span class="text-xl block font-semibold mt-9 mb-2"> Address: </span>
        <ul class="flex flex-col gap-2">
          <li>Custom Tech</li>
          <li>Some Street 123</li>
          <li>Some City, Some State, 12345</li>
          <li>Some Country</li>
        </ul>
      </div>

      <div>
        <span class="text-xl block font-semibold mt-9 mb-2"> Phone: </span>
        <ul class="flex flex-col gap-2">
          <li>Main: 1234 1234 1234</li>
          <li>Customer Service: 1234 1234 1234</li>
        </ul>
      </div>

      <div>
        <span class="text-xl block font-semibold mt-9 mb-2"> Emaiil: </span>
        <ul class="flex flex-col gap-2">
          <li>General Inquiries: someemail@somehost.com</li>
          <li>Customer Support: somecustomersupport@somehost.com</li>
          <li>Sales: somesaleemailadrres@somehost.com</li>
        </ul>
      </div>

      <div>
        <span class="text-xl block font-semibold mt-9 mb-2">
          Social Media:
        </span>
        <p class="mb-2">
          Connect with us on our social media channels for updates, promotions,
          and more:
        </p>
        <ul class="flex flex-col gap-2">
          <li>https://www.facebook.com/CustomTech</li>
          <li>https://twitter.com/CustomTech</li>
          <li>https://www.instagram.com/CustomTech</li>
          <li>https://www.linkedin.com/company/CustomTech</li>
        </ul>
      </div>

      <div>
        <span class="text-xl block font-semibold mt-9 mb-2">Contact Form:</span>
        <div class="flex flex-col gap-2">
          <p>
            Alternatively, you can fill out the contact form below, and we'll
            get back to you as soon as possible.
          </p>
          <p>
            We value your feedback and strive to provide the best possible
            service. If you have any questions, comments, or concerns, please
            don't hesitate to get in touch with us. Our team is dedicated to
            ensuring your experience with Custom Tech is exceptional.
          </p>
          <p>
            Thank you for choosing Custom Tech. We look forward to hearing
            from you!
          </p>
        </div>
      </div>
    </section>
  </section>
</Layout>
